.DS_Store

/.amplify
/.android
/.atom
/.aws
/.bash_history
/.bash_sessions
/.CFUserTextEncoding
/.config
/.docker
/.emacs.d
/.gitconfig
/.google
/.gradle
/.gsutil
/.gvm
/.kube
/.local
/.matplotlib
/.ngrok
/.node_repl_history
/.npm
/.npmrc
/.nvm
/.pip
/.pyenv
/.pylint.d
/.python_history
/.saves
/.ssh
/.Trash
/.viminfo
/.vscode/extensions
/.zcompdump*
/.zsh_history

/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public

/Creative\ Cloud\ Files
/dev
/github.com
/go
/gomoto
